@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}
.sideBar {
  background-color: white;
  height: 100vh;
}
.brandLogo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.brandLogo .logo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.no {
  display: none;
}

.nope {
  border: none;
}

.text-textGray {
  --tw-text-opacity: 1;
  color: rgb(139 141 151 / var(--tw-text-opacity));
}

.filt {
  overflow-y: scroll;
}
